  
  
  
  body {
     font-family: Arial; 
     background: #f2f2f2; 
     padding: 0;
     margin: 0;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     height: 100vh;
    }

  h1 {
         text-align: center;
    }
   ul { 
        list-style: none; 
        padding: 0; 
    }
    .task{
      position: relative;
    }
 .task-input {
        border: 2px solid #ccc;       
        border-radius: 6px;
        padding: 8px 10px;
        outline: none;                
        transition: border-color 0.3s;
    }

  .task-input:focus {
      border-color: #007bff; 
      box-shadow: 0 0 6px rgba(40, 167, 69, 0.6);      
    }

  li {
       background: white;
       padding: 10px;
        margin: 5px;
        border-radius: 5px;
         display: flex;
         justify-content: space-between; 
         align-items: center;
         width: 450px;
       }

     button {
      margin-left: 10px;
      padding: 6px;
      border-radius: 4px;
      border: none;
      color: white;
      cursor: pointer;
      transition: background 0.3s ease;
      }  

  #addBtn {
         margin-left: 10px; 
         background: hsl(120, 87%, 31%);
         padding:6px  ;
         border-radius: 4px;
         border: none;
         color: hsl(0, 2%, 84%);
        }

       #addBtn:hover{
          background:  hsl(231, 88%, 64%);
          transition: 3 ease;


}.btn-done {
  background: hsl(120, 87%, 31%); /* Green */
}
.btn-done:hover {
  background: hsl(120, 77%, 41%);
}

.btn-delete {
  background: hsl(0, 80%, 45%); /* Red */
}
.btn-delete:hover {
  background: hsl(0, 70%, 55%);
}

.btn-reminder {
  background: hsl(231, 88%, 64%); /* Blue */
}
.btn-reminder:hover {
  background: hsl(231, 78%, 54%);
}